<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/complete.css" />
    <title>Download CSV</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Download Rachel-Pi CSV</h1>
      <p class="note-info">File conversion done successfully.</p>
      <p class="note">What would you like to do next?</p>
      <div class="link">
        <a href="{{ url_for('download_csv') }}"
          >Download Converted CSV</a
        >
      </div>
      <div class="link">
        <a href="{{ url_for('index') }}">Convert Another File</a>
      </div>
    </div>
  </body>
</html>
