<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/complete.css" />

    <!-- icons start -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../static/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../static/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../static/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../static/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../static/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../static/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../static/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../static/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../static/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#2196f3" />
    <meta
      name="msapplication-TileImage"
      content="../static/images/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#2196f3" />
    <!-- icons end -->

    <title>Download CSV</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Download Rachel-Pi CSV</h1>
      <p class="note-info">File conversion done successfully.</p>
      <p class="note">What would you like to do next?</p>
      <div class="link">
        <a href="{{ url_for('download_csv') }}">Download Log CSV</a>
      </div>
      <div class="link">
        <a href="{{ url_for('index') }}">Convert Another Log File</a>
      </div>
    </div>
  </body>
</html>
