<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />

    <!-- icons start -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../static/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../static/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../static/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../static/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../static/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../static/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../static/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../static/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../static/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/manifest.json" />
    <meta name="msapplication-TileColor" content="#2196f3" />
    <meta
      name="msapplication-TileImage"
      content="../static/images/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#2196f3" />
    <!-- icons end -->

    <title>Rachel-Pi Log Converter</title>
    <meta name="description" content="Convert Rachel-Pi log files to CSV" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rachel-pi-log-converter.azurewebsites.net/" />
    <meta property="og:title" content="Rachel-Pi Log Converter" />
    <meta property="og:description" content="Convert Rachel-Pi log files to CSV" />
    <meta property="og:image" content="https://rachel-pi-log-converter.azurewebsites.net/static/images/logo.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rachel-pi-log-converter.azurewebsites.net/" />
    <meta property="twitter:title" content="Rachel-Pi Log Converter" />
    <meta property="twitter:description" content="Convert Rachel-Pi log files to CSV" />
    <meta property="twitter:image" content="https://rachel-pi-log-converter.azurewebsites.net/static/images/logo.jpg" />

  </head>
  <body>
    <div class="container">
      <img class="logo" src="../static/images/logo.jpg" alt="logo" />
      <h1 class="title">Rachel-Pi Log Converter</h1>
      <p class="note sm">
        Please note this site is for Preview reasons. Visit the <a href="https://github.com/Llewellyn500/RACHEL-Pi-log-file-converter" target="_blank">GitHub page</a> to download the source code and run it locally. Its faster if you have a lot of logs to convert.
      </p>
      <p class="note">
        Upload your Rachel-Pi log file. (No files are stored on the server.)
      </p>
      <form method="POST" enctype="multipart/form-data">
        <input class="pick_file" type="file" name="file" />
        <input class="convert" type="submit" value="Convert and Download" />
      </form>
      <p class="note">
        <a href="https://github.com/Llewellyn500/RACHEL-Pi-log-file-converter" target="_blank">View the source code on GitHub</a>
    </div>
  </body>
</html>
